.GitHub {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    background-color: #24292E;
    color : white;
}

.profileContainer {
    position: absolute;
    left: 0px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.padd30 {
    padding-top: 30px;
    text-align: center;
}

.circleImg {
    border-radius: 50%;
    height: 200px;
    position: relative;
    top: 10%;
    transform: translateY(-50%);
}
