.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #242424;
    color: white;
}

.footer li {
    display: inline-grid;
    width: 100px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footerText {
    text-align: center;
    padding-top: 60px;
    color: white;
}

.icons li a img {
    vertical-align: middle;
    padding: 5px;
    height: 50px;
}

.bottomDiv {
    background-color: #191919;
    padding: 30px;
}

.bottomDiv div p {
    margin: 0px;
}

.bottomDiv a {
    text-align: center;
    color: white;
}

.bottomLinks li {
    display: inline;
}

.bottomLinks p {
    color: white;
    display: inline;
    padding: 20px;
}

.cenLinks {
    padding: 0px;
    margin: 0px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .bottomDiv div a {
        display: inline;
        text-align: center;
        padding: 0px;
    }
}