body .scrollD, body .scrollD:hover {
    color: white;
}

.navbar-brand {
    letter-spacing: 4px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
    width: 40%;
}

.nav-links a {
    color: white;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.toggler {
    display: none;
}

.toggler div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.scrolled-nav {
    background-color: #242424;
    height: 60px !important;
    line-height: 60px;
}


/* nav media queries */

/* medium devies */
@media screen and (max-width: 991px) {
    #global-nav {
        min-height: 56px !important;
        background-color: #242424;
    }
}

/* larger devices 992px and > */
@media screen and (min-width: 992px) {
    .transparent {
        background-color: #242424;
    }

    #global-nav {
        height: 120px;
        -webkit-transition: height .5s, line-height .5s;
        transition: height .5s, line-height .5s;
    }

    .scrolled-nav {
        background-color: #242424;
        height: 60px !important;
        line-height: 60px;
    }

    .counter {
        width: 20px;
        height: 20px;
        background: #242424;
        color: white;
        position: fixed;
        top: 120px;
        right: 0;
    }
}

/* link spacing max 1024 */
@media screen and (max-width:1024px) {
    .nav-links {
        width: 55%;
    }
}

/* < 760px toggle nav */
@media screen and (max-width:760px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 3vh;
        background-color: #242424;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .toggler {
        display: block;
    }
}

@media screen and (min-height: 1081px) and (max-height: 2560px) {
    .navbar-brand {
        font-size: 25px;
        letter-spacing: 10px;
    }

    .nav-links {
        width: 60%;
    }

    .nav-links a {
        font-size: 20px;
        letter-spacing: 6px;
    }
}

.active-nav {
    transform: translateX(0%);
}

/* keyframe opacity */
@keyframes linkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}