/* main */
.repositories {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}

.results {
    height: 75%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}


/* search-box */
.search-box {
    padding-bottom: 2vh;
    display: flex;
    border-bottom: 1px solid black;
}

.search {
    width: 50%;
    padding: 5px 12px;
    margin: 5px 12px;

    box-sizing: border-box;
    box-shadow: inset 0 1px 0 rgba(225,228,232,.2);
    border-radius: 6px;

    font-size: 16px;
    color: white;

    background-color: rgb(27, 29, 35);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

/* filter menu */
.summary {
    margin: 10px
}

.select-menu {
    position: absolute;
    z-index: 100;
    width: 350px;
}

.menu-header {
    padding: 7px;
    background-color: #24292E;
}

.menu-item {
    padding: 7px;
    background-color: #31363F;
    text-align: center;
}


table {
    border: 1px solid black;
    border-radius: 20px;
    border-collapse: inherit;
}

th, td {
    height: 40px;
}

th {
    border-bottom: 1px solid black;
    text-align: center;
}

th:first-of-type {
    border-top-left-radius: 20px;
}

th:last-of-type {
    border-top-right-radius: 20px;
}

tr:last-of-type td:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

td:hover {
    background-color: #666e7a;
}

/* repo */
.repo {
    height: 40%;
    width: 50%;
    margin: 10px;
    padding: 16px;

    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #24292E;    
    color: #9DA5B4;
}


